ERA(방어율) :(9 × 자책점) ÷ 투구이닝
FIP: (( 13*홈런 + 3*(볼넷+몸에 맞는공-고의4구) - 2*삼진) / 이닝) + 3.2
BABIP: (총 안타수-홈런)/(타수-삼진-홈런+희생플라이)
KK(삼진)

In [2]:
import pandas as pd
import numpy as np

In [23]:
PATH ='C:\\Users\\ckdrj\\Google 드라이브\\bigcon_baseball\\data\\total\\'
hiter16 = pd.read_csv(PATH+"2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv")
pitcher16 = pd.read_csv(PATH+"2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv")

In [24]:
pitcher16.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000

In [25]:
pitcher16.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK',
       'WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB',
       'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R',
       'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT'],
      dtype='object')

In [26]:
pitcher16["ERA"] = 27*pitcher16.ER/pitcher16.INN2
pitcher16["FIP"] = ((13*pitcher16.HR+3*(pitcher16.BB+pitcher16.HP-pitcher16.IB)-2*pitcher16.KK)/(pitcher16.INN2/3)) +3.2
pitcher16["BABIP"] = (pitcher16.HIT-pitcher16.HR)/(pitcher16.AB-pitcher16.KK-pitcher16.HR+pitcher16.SF)
pitcher16['NG_ID'] = pitcher16.GDAY_DS.astype(str) + pitcher16.T_ID + pitcher16.VS_T_ID + pitcher16.HEADER_NO.astype(str)

In [27]:
pitcher16 = pitcher16[['NG_ID','ERA','FIP','BABIP','R']]

In [28]:
pitcher16.head()

           NG_ID       ERA       FIP     BABIP  R
0  20160401LGHH0  3.000000  2.283333  0.361111  4
1  20160401HHLG0  3.176471  3.464706  0.266667  5
2  20160401NCHT0  4.000000  3.755556  0.304348  4
3  20160401HTNC0  5.625000  6.075000  0.368421  5
4  20160401SKKT0  8.000000  6.200000  0.321429  8

In [29]:
def prepro(pitcher):
    pitcher["ERA"] = 27*pitcher.ER/pitcher.INN2
    pitcher["FIP"] = ((13*pitcher.HR+3*(pitcher.BB+pitcher.HP-pitcher.IB)-2*pitcher.KK)/(pitcher.INN2/3)) +3.2
    pitcher["BABIP"] = (pitcher.HIT-pitcher.HR)/(pitcher.AB-pitcher.KK-pitcher.HR+pitcher.SF)
    pitcher['NG_ID'] = pitcher.GDAY_DS.astype(str) + pitcher.T_ID + pitcher.VS_T_ID + pitcher.HEADER_NO.astype(str)
    pitcher = pitcher[['NG_ID','ERA','FIP','BABIP','R']]
    
    return pitcher

In [30]:
pitcher17 = pd.read_csv(PATH+"2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv")
pitcher17 = prepro(pitcher17)

In [32]:
pitcher18 = pd.read_csv(PATH+"2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv")
pitcher18 = prepro(pitcher18)

In [33]:
pitcher19 = pd.read_csv(PATH+"2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv")
pitcher19 = prepro(pitcher19)

In [35]:
pitcher = pd.concat([pitcher16,pitcher17,pitcher18,pitcher19])

In [37]:
pitcher.head()

           NG_ID       ERA       FIP     BABIP  R
0  20160401LGHH0  3.000000  2.283333  0.361111  4
1  20160401HHLG0  3.176471  3.464706  0.266667  5
2  20160401NCHT0  4.000000  3.755556  0.304348  4
3  20160401HTNC0  5.625000  6.075000  0.368421  5
4  20160401SKKT0  8.000000  6.200000  0.321429  8

In [39]:
pitcher.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5760 entries, 0 to 1439
Data columns (total 5 columns):
NG_ID    5760 non-null object
ERA      5760 non-null float64
FIP      5760 non-null float64
BABIP    5760 non-null float64
R        5760 non-null int64
dtypes: float64(3), int64(1), object(1)
memory usage: 270.0+ KB