In [48]:
import pandas as pd
data=pd.read_csv('팀타자 끗.csv',encoding='cp949')

In [49]:
cols=['G_ID','G_DAY_DS','T_ID','VS_T_ID','HEADER_NO','TB_SC','PA','AB','RBI','RUN','HIT','H2',
     'H3','HR','SB','CS','SH','SF','BB','IB','HP','KK','GD','ERR','LOB','P_HRA_RT','P_AB_CN','P_HIT_CN']

In [50]:
data.columns

Index(['날짜', '팀명', '경기', '타석', '타수', '안타', '단타', '2루타', '3루타', '홈런', '득점',
       '타점', '볼넷', '고4', 'HBP', '삼진', '희플', '희타', '병살', '도루', '도실', '타율', '초말',
       '상대팀', '실책', '잔루', '득점권타수', '득점권안타', '득점권타율'],
      dtype='object')

In [51]:
def change(data):
    
    df=pd.DataFrame()
    df['G_DAY_DS']=data['날짜']
    df['T_ID']=data['팀명']
    df['VS_T_ID']=data['상대팀']
    df['HEADER_NO']=0
    df['TB_SC']=data['초말']
    df['PA']=data['타석']
    df['AB']=data['타수']
    df['RBI']=data['타점']
    df['RUN']=data['득점']
    df['HIT']=data['안타']
    df['H2']=data['2루타']
    df['H3']=data['3루타']
    df['HR']=data['홈런']
    df['SB']=data['도루']
    df['CS']=data['도실']
    df['SH']=data['희타']
    df['SF']=data['희플']
    df['BB']=data['볼넷']
    df['IB']=data['고4']
    df['HP']=data['HBP']
    df['KK']=data['삼진']
    df['GD']=data['병살']
    df['ERR']=data['병살']
    df['LOB']=data['잔루']
    df['P_HRA_RT']=data['득점권타율']
    df['P_AB_CN']=data['득점권타수']
    df['P_HIT_CN']=data['득점권안타']
    
    return df

In [52]:
df=change(data)

In [53]:
df

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,2020-07-21,KIA,한화,0,T,50,41,9,10,16,...,8,0,1,8,2,2,26,0.333333,15,5
1,2020-07-21,SK,롯데,0,B,40,34,8,8,13,...,4,0,0,6,1,1,11,0.500000,8,4
2,2020-07-21,KT,LG,0,B,39,34,10,10,12,...,4,0,0,7,1,1,9,0.500000,8,4
3,2020-07-21,NC,삼성,0,B,42,38,6,6,13,...,2,1,1,7,0,0,9,0.428571,7,3
4,2020-07-21,두산,키움,0,B,32,31,6,6,7,...,1,0,0,6,0,0,4,0.800000,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,2020-09-20,두산,LG,0,B,45,31,6,6,9,...,12,0,2,6,3,3,26,0.187500,16,3
455,2020-09-20,Hero,삼성,0,T,41,37,6,6,13,...,4,0,0,7,3,3,21,0.333333,12,4
456,2020-09-20,KIA,한화,0,B,38,33,3,3,9,...,4,0,0,7,1,1,16,0.285714,7,2
457,2020-09-20,LG,두산,0,T,38,37,5,5,10,...,1,0,0,11,0,0,12,0.333333,6,2
458,2020-09-20,SK,KT,0,B,31,28,1,2,3,...,3,0,0,4,3,3,12,0.200000,5,1

In [54]:
df

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,2020-07-21,KIA,한화,0,T,50,41,9,10,16,...,8,0,1,8,2,2,26,0.333333,15,5
1,2020-07-21,SK,롯데,0,B,40,34,8,8,13,...,4,0,0,6,1,1,11,0.500000,8,4
2,2020-07-21,KT,LG,0,B,39,34,10,10,12,...,4,0,0,7,1,1,9,0.500000,8,4
3,2020-07-21,NC,삼성,0,B,42,38,6,6,13,...,2,1,1,7,0,0,9,0.428571,7,3
4,2020-07-21,두산,키움,0,B,32,31,6,6,7,...,1,0,0,6,0,0,4,0.800000,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,2020-09-20,두산,LG,0,B,45,31,6,6,9,...,12,0,2,6,3,3,26,0.187500,16,3
455,2020-09-20,Hero,삼성,0,T,41,37,6,6,13,...,4,0,0,7,3,3,21,0.333333,12,4
456,2020-09-20,KIA,한화,0,B,38,33,3,3,9,...,4,0,0,7,1,1,16,0.285714,7,2
457,2020-09-20,LG,두산,0,T,38,37,5,5,10,...,1,0,0,11,0,0,12,0.333333,6,2
458,2020-09-20,SK,KT,0,B,31,28,1,2,3,...,3,0,0,4,3,3,12,0.200000,5,1

In [55]:
H=pd.read_csv('더블헤더.csv',encoding='UTF-8')

In [56]:
DH=change(H).fillna(0)

In [57]:
DH['HEADER_NO']=1

In [58]:
DH

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,2020-08-30,KT,KIA,1,T,41,37,4,5,10,...,3,0.0,0,10,0,0,16,0.250000,8,2
1,2020-08-30,KIA,KT,1,B,38,34,7,7,10,...,4,0.0,0,1,1,1,15,0.357143,14,5
2,2020-08-30,KT,KIA,1,T,46,34,8,8,7,...,11,0.0,0,7,0,0,22,0.444444,9,4
3,2020-08-30,KIA,KT,1,B,40,33,5,5,10,...,3,0.0,1,8,1,1,16,0.250000,12,3
4,2020-09-04,SK,KT,1,T,36,34,5,5,10,...,0,0.0,0,0,0,0,6,0.400000,5,2
5,2020-09-04,KT,SK,1,B,43,33,7,7,9,...,9,0.0,0,3,1,1,19,0.230769,13,3
6,2020-09-04,SK,KT,1,T,35,32,2,2,5,...,2,0.0,1,2,0,0,8,0.500000,2,1
7,2020-09-04,KT,SK,1,B,38,35,9,10,13,...,3,0.0,0,3,0,0,12,0.200000,10,2
8,2020-09-04,KIA,롯데,1,T,40,37,7,7,10,...,3,0.0,0,11,1,1,14,0.444444,9,4
9,2020-09-04,롯데,KIA,1,B,38,34,7,9,14,...,2,0.0,1,4,1,1,19,0.333333,12,4
10,2020-09-04,KIA,롯데,1,T,40,34,5,6,8,...,3,0.0,1,7,1,1,21,0.200000,10,2
11,2020-09-04,롯데,KIA,1,B,36,29,3,3,5,...,5,0.0,1,10,2,2,14,0.000000,3,0
12,2020-09-09,한화,삼성,1,T,43,37,7,7,12,...,4,0.0,2,10,1,1,21,0.400000,10,4
13,2020-09-09,삼성,한화,1,B,35,31,0,0,3,...,4,0.0,0,4,0,0,18,0.000000,4,0
14,2020-09-20,NC,롯데,1,T,39,35,5,7,10,...,2,0.0,0,6,1,1,10,0.333333,9,3
15,2020-09-20,롯데,NC,1,B,38,35,1,2,8,...,3,0.0,0,9,1,1,21,0.229000,10,1

In [59]:
final=pd.concat([df,DH])

In [60]:
final1=final.sort_values(by='G_DAY_DS').reset_index().drop('index',axis=1)

In [61]:
final1

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,2020-07-21,KIA,한화,0,T,50,41,9,10,16,...,8,0.0,1,8,2,2,26,0.333333,15,5
1,2020-07-21,SK,롯데,0,B,40,34,8,8,13,...,4,0.0,0,6,1,1,11,0.500000,8,4
2,2020-07-21,KT,LG,0,B,39,34,10,10,12,...,4,0.0,0,7,1,1,9,0.500000,8,4
3,2020-07-21,NC,삼성,0,B,42,38,6,6,13,...,2,1.0,1,7,0,0,9,0.428571,7,3
4,2020-07-21,두산,키움,0,B,32,31,6,6,7,...,1,0.0,0,6,0,0,4,0.800000,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2020-09-20,KT,SK,0,T,43,37,10,10,11,...,4,0.0,1,10,0,0,17,0.307692,13,4
471,2020-09-20,한화,KIA,0,T,50,40,11,11,16,...,6,0.0,2,10,0,0,20,0.466667,15,7
472,2020-09-20,삼성,키움,0,B,48,42,12,14,18,...,5,0.0,0,6,1,1,26,0.380952,21,8
473,2020-09-20,SK,KT,0,B,31,28,1,2,3,...,3,0.0,0,4,3,3,12,0.200000,5,1
474,2020-09-20,롯데,NC,1,B,38,35,1,2,8,...,3,0.0,0,9,1,1,21,0.229000,10,1

In [62]:
final1['G_ID']=final1.index

In [63]:
final1.replace('한화','HH',inplace=True)
final1.replace('KIA','HT',inplace=True)
final1.replace('두산','OB',inplace=True)
final1.replace('롯데','LT',inplace=True)
final1.replace('hero','WO',inplace=True)
final1.replace('삼성','SS',inplace=True)

In [40]:
final1.replace('KIA','HT',inplace=True)
final1.replace('두산','OB',inplace=True)
final1.replace('롯데','LT',inplace=True)
final1.replace('hero','WO',inplace=True)
final1.replace('삼성','SS',inplace=True)

In [64]:
final1

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,G_ID
0,2020-07-21,HT,HH,0,T,50,41,9,10,16,...,0.0,1,8,2,2,26,0.333333,15,5,0
1,2020-07-21,SK,LT,0,B,40,34,8,8,13,...,0.0,0,6,1,1,11,0.500000,8,4,1
2,2020-07-21,KT,LG,0,B,39,34,10,10,12,...,0.0,0,7,1,1,9,0.500000,8,4,2
3,2020-07-21,NC,SS,0,B,42,38,6,6,13,...,1.0,1,7,0,0,9,0.428571,7,3,3
4,2020-07-21,OB,키움,0,B,32,31,6,6,7,...,0.0,0,6,0,0,4,0.800000,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2020-09-20,KT,SK,0,T,43,37,10,10,11,...,0.0,1,10,0,0,17,0.307692,13,4,470
471,2020-09-20,HH,HT,0,T,50,40,11,11,16,...,0.0,2,10,0,0,20,0.466667,15,7,471
472,2020-09-20,SS,키움,0,B,48,42,12,14,18,...,0.0,0,6,1,1,26,0.380952,21,8,472
473,2020-09-20,SK,KT,0,B,31,28,1,2,3,...,0.0,0,4,3,3,12,0.200000,5,1,473
474,2020-09-20,LT,NC,1,B,38,35,1,2,8,...,0.0,0,9,1,1,21,0.229000,10,1,474

In [65]:
cols = final1.columns.tolist()

tmp = cols[27]

del cols[27]

cols.insert(0,tmp) 

final1 = final1[cols]

In [66]:
final1

,G_ID,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,0,2020-07-21,HT,HH,0,T,50,41,9,10,...,8,0.0,1,8,2,2,26,0.333333,15,5
1,1,2020-07-21,SK,LT,0,B,40,34,8,8,...,4,0.0,0,6,1,1,11,0.500000,8,4
2,2,2020-07-21,KT,LG,0,B,39,34,10,10,...,4,0.0,0,7,1,1,9,0.500000,8,4
3,3,2020-07-21,NC,SS,0,B,42,38,6,6,...,2,1.0,1,7,0,0,9,0.428571,7,3
4,4,2020-07-21,OB,키움,0,B,32,31,6,6,...,1,0.0,0,6,0,0,4,0.800000,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,470,2020-09-20,KT,SK,0,T,43,37,10,10,...,4,0.0,1,10,0,0,17,0.307692,13,4
471,471,2020-09-20,HH,HT,0,T,50,40,11,11,...,6,0.0,2,10,0,0,20,0.466667,15,7
472,472,2020-09-20,SS,키움,0,B,48,42,12,14,...,5,0.0,0,6,1,1,26,0.380952,21,8
473,473,2020-09-20,SK,KT,0,B,31,28,1,2,...,3,0.0,0,4,3,3,12,0.200000,5,1
474,474,2020-09-20,LT,NC,1,B,38,35,1,2,...,3,0.0,0,9,1,1,21,0.229000,10,1

In [68]:
final1.to_csv('team_hitter final.csv')