In [70]:
import pandas as pd
data=pd.read_csv('팀타자.csv',encoding='cp949')

In [71]:
cols=['G_ID','G_DAY_DS','T_ID','VS_T_ID','HEADER_NO','TB_SC','PA','AB','RBI','RUN','HIT','H2',
     'H3','HR','SB','CS','SH','SF','BB','IB','HP','KK','GD','ERR','LOB','P_HRA_RT','P_AB_CN','P_HIT_CN']

In [72]:
data.columns

Index(['날짜', '팀명', '경기', '타석', '타수', '안타', '단타', '2루타', '3루타', '홈런', '득점',
       '타점', '볼넷', '고4', 'HBP', '삼진', '희플', '희타', '병살', '도루', '도실', '타율', '초말',
       '상대팀', '실책', '잔루', '득점권타수', '득점권안타', '득점권타율'],
      dtype='object')

In [73]:
df=pd.DataFrame()

In [74]:

df['G_DAY_DS']=data['날짜']
df['T_ID']=data['팀명']
df['VS_T_ID']=data['상대팀']
df['HEADER_NO']=0
df['TB_SC']=data['초말']
df['PA']=data['타석']
df['AB']=data['타수']
df['RBI']=data['타점']
df['RUN']=data['득점']
df['HIT']=data['안타']
df['H2']=data['2루타']
df['H3']=data['3루타']
df['HR']=data['홈런']
df['SB']=data['도루']
df['CS']=data['도실']
df['SH']=data['희타']
df['SF']=data['희플']
df['BB']=data['볼넷']
df['IB']=data['고4']
df['HP']=data['HBP']
df['KK']=data['삼진']
df['GD']=data['병살']
df['ERR']=data['병살']
df['LOB']=data['잔루']
df['P_HRA_RT']=data['득점권타율']
df['P_AB_CN']=data['득점권타수']
df['P_HIT_CN']=data['득점권안타']
df['G_ID']=df.reset_index()['index']

In [75]:
df[df['P_AB_CN']==-9]#더블헤더인 경기들
df[df['P_AB_CN']==-99]#기록이 없는 경기

,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,HIT,...,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,G_ID
347,2020-09-06,삼성,-99,0,-99,37,34,5,5,10,...,0,0,5,0,0,-99,1,-99,-99,347
351,2020-09-06,NC,-99,0,-99,33,31,3,3,5,...,0,0,10,1,1,-99,1,-99,-99,351

In [76]:
cols = df.columns.tolist()

tmp = cols[27] #11번째 column을

del cols[27]

cols.insert(0,tmp) #2번째 위치로

df = df[cols]

In [77]:
df

,G_ID,G_DAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,0,2020-07-21,KIA,한화,0,T,50,41,9,10,...,8,0,1,8,2,2,26,0.333333333,15,5
1,1,2020-07-21,SK,롯데,0,B,40,34,8,8,...,4,0,0,6,1,1,11,0.5,8,4
2,2,2020-07-21,KT,LG,0,B,39,34,10,10,...,4,0,0,7,1,1,9,0.5,8,4
3,3,2020-07-21,NC,삼성,0,B,42,38,6,6,...,2,1,1,7,0,0,9,0.428571429,7,3
4,4,2020-07-21,두산,키움,0,B,32,31,6,6,...,1,0,0,6,0,0,4,0.8,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,467,2020-09-20,Hero,삼성,0,T,41,37,6,6,...,4,0,0,7,3,3,21,0.333333333,12,4
468,468,2020-09-20,롯데,NC,0,B,41,36,2,2,...,5,0,0,8,2,2,21,0.1,10,1
469,469,2020-09-20,KIA,한화,0,B,38,33,3,3,...,4,0,0,7,1,1,16,0.285714286,7,2
470,470,2020-09-20,LG,두산,0,T,38,37,5,5,...,1,0,0,11,0,0,12,0.333333333,6,2
471,471,2020-09-20,SK,KT,0,B,31,28,1,2,...,3,0,0,4,3,3,12,0.2,5,1

In [79]:
df.to_csv('team hitter.csv')